<% include _header %>

<h1>Ordini panini giornata <%= day %> </h1>

<span class="pull-left">
<span class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tipo Ordine <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/admin/drinks/<%= day %>">Bevande</a></li>
    </ul>
    </span>
    </span>

</br>
</br>

<% orders.forEach(function(order) { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text pull-right">
        <% if (!order.visibility) { %>
          <a href='/orders/restore/<%= order.uid %>' class="btn btn-info"> Ripristina </a>
        <% } %>
        <a href='/orders/edit/<%= order.uid %>' class="btn btn-info" disabled> Modifica </a>
        <a href='/orders/<%= order.uid %>/delete' class="btn btn-raised btn-danger"> Elimina </a>
      </div>
      <div class="ora_ordinazione">
        ORA ORDINAZIONE:
        <%=moment(order.createdAt).format('MM/DD/YYYY HH:mm:ss')%>
      </div>
      <br/>
      <div class="text pull-right">
        PREZZO:
        <%= order.prezzo %>€
      </div>
      <div class="numero-ordine">
        NUMERO ORDINE:
        <%= order.actualOrder.id %>
      </div>
      <div class="text priorità">
        <% if (order.priority) { %>
          ORDINE CON PRIORITÀ
        <% } %>
      </div>
    </div>
    <div class="panel-body ingredienti">
      <span class="carne">
      <%= order.actualOrder.double%>
      <%= order.actualOrder.Principale %>
      </span>
      <span class="verdura">
        <%if (Array.isArray(order.actualOrder.Farcitura)){ %>
          <% order.actualOrder.Farcitura.forEach((farcitura)=>{ %>
          <%=farcitura%>
          <% }) %>
        <%}else{%>
          <%= order.actualOrder.Farcitura %>
        <%}%>
      </span>
      <span class="salsa">
        <%if (Array.isArray(order.actualOrder.Salse)){ %>
          <% order.actualOrder.Salse.forEach((sauce)=>{ %>
            <%= sauce%>
          <% }) %>
        <%}else{%>
          <%= order.actualOrder.Salse %>
        <%}%>
      </span>
    </div>
  </div>
<% }) %>

<% include _footer %>