<% include _header %>

<h1>Ordini bevande giornata <%= day %> </h1>

<span class="pull-left">
<span class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tipo Ordine <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/admin/orders/<%= day %>">Panini</a></li>
  </ul>
</span>
</span>


<br/>
<br/>

<% orders.forEach(function(order) { %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text pull-right">
        <% if (!order.visibility) { %>
          <a href='/drinks/restore/<%= order.uid %>' class="btn btn-info"> Ripristina </a>
        <% } %>
        <a href='/orders/edit/<%= order.uid %>' class="btn btn-info" disabled> Modifica </a>
        <a href='/drinks/<%= order.uid %>/delete' class="btn btn-raised btn-danger"> Elimina </a>
      </div>
      <div class="ora_ordinazione">
        ORA ORDINAZIONE:
        <%=moment(order.createdAt).format('MM/DD/YYYY HH:mm:ss')%>
      </div>
      <br/>
      <div class="text pull-right">
        PREZZO:
        <%= order.prezzo %>€
      </div>
      <div class="numero-ordine">
        NUMERO ORDINE:
        <%= order.actualOrder.id %>
      </div>
      <div class="text priorità">
        <% if (order.priority) { %>
          ORDINE CON PRIORITÀ
        <% } %>
      </div>
    </div>
    <div class="panel-body ingredienti">
      <%let i = 0%>
      <%order.actualOrder.beveragesQuantities.forEach(beverageQuantity=>{%>
      <%if (beverageQuantity != ''){%>
      <%=beverageQuantity%>x
      <span class="bevanda-bar">
        <%if (Array.isArray(order.actualOrder.beverages)){ %>
        <%=JSON.parse(order.actualOrder.beverages[i]).name%>
        <%}else{%>
        <%=JSON.parse(order.actualOrder.beverages).name%>
        <%}%>
      </span>
      <%i++%>
      <%}%>
      <%})%>
    </div>
  </div>
<% }) %>

<% include _footer %>