<% include _header %>

<div class="page-header">
  <h1>Bar</h1>
</div>

<div class="pull-right">
<a href='/bar/undo' class="btn btn-raised btn-warning">
  <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
  UNDO
</a>
</div>  


<div class="row orders-block">
  
  <% ordini.forEach(function(ordine) { %>
    <div class="col-md-6">
      <% if(ordine.id % 2 != 0) { %> 
        <div class="panel panel-primary">
      <% } %>

      <% if(ordine.id % 2 == 0) { %>
        <div class="panel panel-info">
      <% } %>

      <div class="panel-heading">
        <div class="pull-right">
          <a href='/bar/<%= ordine.uid %>/<%= ordine.giorno %>/remove' class="btn-sm btn-raised btn-danger">
            <i class="icon-user icon-white"></i>
            COMPLETATO
          </a>
        </div>

        <div class="ora_ordinazione">
          <p>
            ORA ORDINAZIONE: <%=moment(ordine.createdAt).format('HH:mm')%>
          </p>
        </div>
        <div class="numero-ordine">
          <p>
            NUMERO ORDINE
            <% if(ordine.asporto) { %>  
            <span class="asporto">
              PER ASPORTO
            </span>
            <% } %>
            :
            <%= ordine.id %>
          </p>
        </div>
        <div class="text priorità">
          <p>
            <% if (ordine.priority) { %>
              ORDINE CON PRIORITÀ
            <span class="staff">
            <% if (ordine.id == 0) { %>
              PER STAFF
            <% } %>
            </span>
            <% } %>
          </p>
        </div>
      </div>
      <div class="panel-body ingredienti">
          <% if(ordine.BA > 0) {%>
            <%= ordine.BA %>x BIRRA ART. 
          <% } %>  
          <% if(ordine.BB > 0) {%>
            <%= ordine.BB %>x BIRRA Bionda spina
          <% } %>
          <% if(ordine.BR > 0) {%>
            <%= ordine.BR %>x BIRRA Rossa spina. 
          <% } %>
          <% if(ordine.CC > 0) {%>
            <%= ordine.CC %>x CocaCola 
          <% } %>
          <% if(ordine.AQ >0) {%>
            <%= ordine.AQ %>x Acqua          
          <% } %>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<% include _footer %>
<meta http-equiv="refresh" content="15" >