<% include _header %>
<script src="/js/cassa.js"></script>
<div class="page-header">
    <h1>Cassa</h1>
</div>

<ul class="list-group">
    <%if(burgerStats){%>
        <li class="list-group-item">
            <span class="badge"><%= burgerStats.total %>€</span>
            Totale parziale giorno <%= burgerStats.day.toLocaleDateString('it-IT') %> PANINI
        </li>
    <%}%>
    <%if(beveragesStats){%>
    <li class="list-group-item">
        <span class="badge"><%= beveragesStats.total %>€</span>
        Totale parziale giorno <%= beveragesStats.day.toLocaleDateString('it-IT') %> BEVANDE
    </li>
    <%}%>
    <%if(extrasStats){%>
    <li class="list-group-item">
        <span class="badge"><%= extrasStats.total %>€</span>
        Totale parziale giorno <%= extrasStats.day.toLocaleDateString('it-IT') %> EXTRA
    </li>
    <%}%>
</ul>
<form method="post" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label for="id">NUMERO ORDINE</label>
                <input type="text" maxlenght="10" id="id" name="id" placeholder="Numero ordine" required="required" value="<%= +lastOrderID +1 %>" class="form-control" />
                <p>Ultimo ordine:
                    <%= lastOrderID %>
                </p>
            </div>
            <div class="form-group">
                <label for="id">ALTRO</label>
                <input type="text" maxlenght="20" id="orderNote" name="orderNote" placeholder="Richieste particolari" class="form-control" />
            </div>
            <div class="checkbox">
                <label>
                    <input name="priority" id="priority" type="checkbox" value="priority">Ordine con Priorità</label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="staff" id="staff" type="checkbox" value="staff">Ordine Staff</label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="takeaway" type="checkbox" value="Take-Away"> Asporto </label>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" id="danger-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Attenzione</strong>
        Uno o più ingredienti del panino selezionato non sono disponibili
    </div>     
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>PANINO</h3>
        </div>
        <div class="panel-heading">
            <fieldset>
                <div class="checkbox">
                    <%config.defaultBurgers.forEach((defaultBurger)=>{%>
                    <label>
                        <input name="defaultOrder" id="<%=defaultBurger.name%>" type="checkbox" value="<%=JSON.stringify(defaultBurger)%>" onclick="defaultBurgerClicked(<%=JSON.stringify(defaultBurger)%>)"><%=defaultBurger.name%>
                    </label>
                    <%})%>
                </div>
            </fieldset>
        </div>
        <div class="panel-body">
            <div class="row">
                <%config.ingredients.forEach((ingredientType)=>{%>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <%=ingredientType.type%>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="checkbox">
                                    <% ingredientType.list.forEach((ingredient)=>{ %>
                                    <label>
                                        <%if(ingredientType.type == "Principale"){%>
                                            <input <%if(lockedIngredientsIDs.includes(ingredient.id)){%> disabled="disabled" <%}%> name="<%=ingredientType.type%>" id="<%=ingredient.id%>" type="radio" onclick="primaryClicked()" value="<%=ingredient.name%>">
                                        <%} if(ingredientType.type == "Farcitura"){%>
                                            <input <%if(lockedIngredientsIDs.includes(ingredient.id)){%> disabled="disabled" <%}%> name="<%=ingredientType.type%>" id="<%=ingredient.id%>" type="checkbox" onclick="secondaryClicked()" value="<%=ingredient.name%>">
                                        <%} if(ingredientType.type == "Salse"){%>
                                            <input <%if(lockedIngredientsIDs.includes(ingredient.id)){%> disabled="disabled" <%}%> name="<%=ingredientType.type%>" id="<%=ingredient.id%>" type="checkbox" value="<%=ingredient.name%>">
                                        <%}%>
                                        <%=ingredient.name%>
                                    </label>
                                    <%})%>
                                </div>
                                <%if(ingredientType.type == "Principale"){%>
                                    <div class="checkbox">
                                        <label>
                                            <input name="double" id="Double" type="checkbox" value="Double" onclick="doubleClicked()"> Double</label>
                                    </div>
                                <%}%>
        
                            </fieldset>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Conto Panino
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="prezzoPanino">
                        0 €
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>BEVANDE</h3>
        </div>
        <div class="panel-body">
            <%config.beverages.forEach((beverageType)=>{%>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <%=beverageType.type%>
                </div>
                <div class="panel-body">
                    <div class="checkbox">
                        <% beverageType.list.forEach((beverage)=>{%>
                        <label>
                            <input name="beverages" type="checkbox" id="<%=beverage.name%>"  value="<%=JSON.stringify(beverage)%>" onclick="beverageClicked(<%=JSON.stringify(beverage)%>)"><%=beverage.name%>
                            <input name="beveragesQuantities" class="beverage-quantity" id="<%=beverage.name%>-quantity" type="number" min="1" max="99" onchange="beverageQuantityChanged(<%=JSON.stringify(beverage)%>)">
                        </label>
                        <%})%>
                    </div>
                </div>
            </div>
            <%})%>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Conto Bevande
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="prezzoBevande">
                        0 €
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>EXTRA</h3>
        </div>
        <div class="panel-body">
            <%config.extra.forEach((extraType)=>{%>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <%=extraType.type%>
                </div>
                <div class="panel-body">
                    <div class="checkbox">
                        <% extraType.list.forEach((extra)=>{%>
                        <label>
                            <input name="extras" type="checkbox" id="<%=extra.name%>"  value="<%=JSON.stringify(extra)%>" onclick="extraClicked(<%=JSON.stringify(extra)%>)"><%=extra.name%>
                            <input name="extrasQuantities" class="beverage-quantity" id="<%=extra.name%>-quantity" type="number" min="1" max="99" onchange="extraQuantityChanged(<%=JSON.stringify(extra)%>)">
                        </label>
                        <%})%>
                    </div>
                </div>
            </div>
            <%})%>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Conto Extra
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="prezzoExtra">
                        0 €
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Totale Ordine
            </h3>
        </div>
        <div class="panel-body">
            <div id="totale">
                0 €
            </div>
        </div>
    </div>
    <center>
        <input type="submit" value="Invia ordine" class="btn btn-primary send-order" accesskey="enter">
        <div class="text pull-right">
            <a href="/cassa/" class="btn btn-raised btn-danger"> Annulla ordine </a>
        </div>
    </center>
</form>
<% include _footer %>