<% include _header %>
<script src="/js/cassa.js"></script>
<div class="page-header">
    <h1>Cassa</h1>
</div>




<form method="post" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label for="id">NUMERO ORDINE</label>
                <input type="text" maxlenght="10" id="id" name="id" placeholder="Numero ordine" required="required" value="<%= +lastOrderID +1 %>" class="form-control" />
                <p>Ultimo ordine:
                    <%= lastOrderID %>
                </p>
            </div>
            <div class="form-group">
                <label for="nome">NOME</label>
                <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome cliente" />
            </div>
            <div class="checkbox">
                <label>
                    <input name="priority" id="priority" type="checkbox" value="priority">Priorità (per ordini STAFF inserire 0 (zero) in numero ordine e selezionare questa casella)</label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="takeaway" type="checkbox" value="Take-Away"> Asporto </label>
            </div>
        </div>
        <div class="panel-heading">
            <fieldset>
                <div class="checkbox">
                    <label>
                        <input name="defaultOrder" id="cannavacciuolo" type="checkbox" value="Cannavacciuolo" onclick="cannavacciuoloClicked()">Antonino Cannavacciuolo </label>
                    <label>
                        <input name="defaultOrder" id="borghese" type="checkbox" value="Borghese" onclick="borgheseClicked()">Alessandro Borghese </label>
                    <label>
                        <input name="defaultOrder" id="ramsey" type="checkbox" value="Ramsey" onclick="ramseyClicked()">Gordon Ramsey</label>
                    <label>
                        <input name="defaultOrder" id="baby" type="checkbox" value="Baby" onclick="babyClicked()">Baby Burger</label>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Condimento principale
                    </h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <% config.ingredients[0].primary.forEach((ingredient)=>{ %>
                        <div class="checkbox">
                            <label>
                                <input name="primary" id="<%=ingredient%>" type="radio" onclick="carneClicked()" value="<%=ingredient%>">
                                <%=ingredient%>
                            </label>
                        </div>
                        <%})%>
                        <div class="checkbox">
                            <label>
                                <input name="double" id="Double" type="checkbox" value="Double" onclick="doubleClicked()"> Double</label>
                        </div>
                    </fieldset>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Farcitura
                    </h3>
                </div>
                <div class="panel-body">
                    <% config.ingredients[0].secondary.forEach((ingredient)=>{ %>
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input name="secondary" id="<%=ingredient%>" type="checkbox" onclick="farcituraClicked()" value="<%=ingredient%>">
                                <%=ingredient%>
                            </label>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Salse
                    </h3>
                </div>
                <div class="panel-body">
                    <% config.ingredients[0].sauces.forEach((ingredient)=>{ %>
                    <div class="checkbox">
                        <label>
                            <input name="sauces" id="<%=ingredient%>" type="checkbox" value="<%=ingredient%>">
                            <%=ingredient%>
                        </label>
                    </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Conto Panino
            </h3>
        </div>
        <div class="panel-body">
            <div id="prezzoPanino">
                0 EURO
            </div>
            <input type="hidden" id="totalePanino" name="totalePanino" value="0">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>BEVANDE</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox">
                <label>
                    <input name="bevanda1" id="bevanda1" type="checkbox" value="Artigianale" onclick="bevandaClicked('bevanda1', 3.5)">Birra Artigianale Bianca alla spina</label>
                <span class="dropup">
               <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span id="dropdown1">0</span>
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li id="bevanda11"><a onclick="dropClicked('dropdown1', 'bevanda11', 3.5)">1</a></li>
                        <li id="bevanda12"><a onclick="dropClicked('dropdown1', 'bevanda12', 3.5)">2</a></li>
                        <li id="bevanda13"><a onclick="dropClicked('dropdown1', 'bevanda13', 3.5)">3</a></li>
                        <li id="bevanda14"><a onclick="dropClicked('dropdown1', 'bevanda14', 3.5)">4</a></li>
                    </ul>
                    </span>
                <label>
                    <input name="bevanda2" id="bevanda2" type="checkbox" value="BiondaSpina" onclick="bevandaClicked('bevanda2', 3)">Birra bionda alla spina</label>
                <span class="dropup">
               <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span id="dropdown2">0</span>
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li id="bevanda21"><a onclick="dropClicked('dropdown2', 'bevanda21', 3)">1</a></li>
                        <li id="bevanda22"><a onclick="dropClicked('dropdown2', 'bevanda22', 3)">2</a></li>
                        <li id="bevanda23"><a onclick="dropClicked('dropdown2', 'bevanda23', 3)">3</a></li>
                        <li id="bevanda24"><a onclick="dropClicked('dropdown2', 'bevanda24', 3)">4</a></li>
                    </ul>
                    </span>
                <label>
                    <input name="bevanda3" id="bevanda3" type="checkbox" value="RossaSpina" onclick="bevandaClicked('bevanda3', 3.5)">Birra Artigianale Rossa alla spina</label>
                <span class="dropup">
               <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span id="dropdown3">0</span>
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <li id="bevanda31"><a onclick="dropClicked('dropdown3', 'bevanda31', 3.5)">1</a></li>
                        <li id="bevanda32"><a onclick="dropClicked('dropdown3', 'bevanda32', 3.5)">2</a></li>
                        <li id="bevanda33"><a onclick="dropClicked('dropdown3', 'bevanda33', 3.5)">3</a></li>
                        <li id="bevanda34"><a onclick="dropClicked('dropdown3', 'bevanda34', 3.5)">4</a></li>
                    </ul>
                    </span>
            </div>
            <div class="checkbox">
                <label>
                    <input name="bevanda4" id="bevanda4" type="checkbox" value="CocaSpina" onclick="bevandaClicked('bevanda4', 2.5)">CocaCola alla spina</label>
                <span class="dropdown">
               <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <span id="dropdown4">0</span>
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li id="bevanda41"><a onclick="dropClicked('dropdown4', 'bevanda41', 2.5)">1</a></li>
                        <li id="bevanda42"><a onclick="dropClicked('dropdown4', 'bevanda42', 2.5)">2</a></li>
                        <li id="bevanda43"><a onclick="dropClicked('dropdown4', 'bevanda43', 2.5)">3</a></li>
                        <li id="bevanda44"><a onclick="dropClicked('dropdown4', 'bevanda44', 2.5)">4</a></li>
                    </ul>
                    </span>
                <label>
                    <input name="bevanda5" id="bevanda5" type="checkbox" value="Acqua" onclick="bevandaClicked('bevanda5', 1)">Acqua Minerale in Bottiglia</label>
                <span class="dropdown">
               <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <span id="dropdown5">0</span>
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown5">
                        <li id="bevanda51"><a onclick="dropClicked('dropdown5', 'bevanda51', 1)">1</a></li>
                        <li id="bevanda52"><a onclick="dropClicked('dropdown5', 'bevanda52', 1)">2</a></li>
                        <li id="bevanda53"><a onclick="dropClicked('dropdown5', 'bevanda53', 1)">3</a></li>
                        <li id="bevanda54"><a onclick="dropClicked('dropdown5', 'bevanda54', 1)">4</a></li>
                    </ul>
                    </span>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Conto Bevande
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="prezzoBevande">
                        0 EURO
                    </div>
                    <input type="hidden" id="totaleBevande" name="totaleBevande" value="0">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                Totale Ordine
            </h3>
        </div>
        <div class="panel-body">

            <div id="totale">
                0 EURO
            </div>
        </div>
    </div>
    <center>
        <input type="submit" value="Invia ordine" class="btn btn-primary">
        <div class="text pull-right">
            <a href="/cassa/" class="btn btn-raised btn-danger"> Annulla ordine </a>
        </div>
    </center>
</form>
<% include _footer %>