<% include _header %>

<div class="page-header">
    <h1>Cucina</h1>
</div>

<div class="pull-right">
  <a href='/orders/undo' class="btn btn-raised btn-warning">
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
    UNDO
  </a>
</div>  
  

<div class="row orders-block">
  <% ordini.forEach((ordine)=>{ %>   
    <div class="col-md-6">
      <% if(ordine.id % 2 != 0) { %> 
        <div class="panel panel-primary">
      <% } %>

      <% if(ordine.id % 2 == 0) { %>
        <div class="panel panel-info">
      <% } %>

      <div class="panel-heading">
        <div class="pull-right">
          <a href='/orders/<%= ordine.uid %>/<%= ordine.giorno %>/remove' class="btn-sm btn-raised btn-danger">
            <i class="icon-user icon-white"></i>
            COMPLETATO
          </a>
        </div>
        
        <div class="ora_ordinazione">
          <p>
            ORA ORDINAZIONE: <%=moment(ordine.createdAt).format('HH:mm')%>
          </p>
        </div>
        <div class="numero-ordine">
          <p>
            NUMERO ORDINE
            <% if(ordine.asporto) { %>  
            <span class="asporto">
              PER ASPORTO
            </span>
            <% } %>
            :
            <%= ordine.id %>
          </p>
        </div>
        <div class="text priorità">
          <p>
            <% if (ordine.priority) { %>
              ORDINE CON PRIORITÀ
            <span class="staff">
            <% if (ordine.id == 0) { %>
              PER STAFF
            <% } %>
            </span>
            <% } %>
          </p>
        </div>
     
      </div>

      <div class="panel-body ingredienti">
          <span class="carne">
          <% if (ordine.carne) { %>
            <% if (ordine.double){ %>
              Double
            <% } %>
            <%= ordine.carne %>
          <% } %>
          </span>
          <span class="verdura">
          <% if (ordine.verdura1) { %>
            <%= ordine.verdura1 %>
          <% } %>            
          <% if (ordine.verdura2) { %>
            <%= ordine.verdura2 %>
          <% } %>
          <% if (ordine.verdura3) { %>
            <%= ordine.verdura3 %>
          <% } %>
          <% if (ordine.verdura4) { %>
            <%= ordine.verdura4 %>
          <% } %>
          <% if (ordine.verdura5) { %>
            <%= ordine.verdura5 %>
          <% } %>
          <% if (ordine.verdura6) { %>
            <%= ordine.verdura6 %>
          <% } %>            
          <% if (ordine.verdura7) { %>
            <%= ordine.verdura7 %>
          <% } %>
          </span>
          <span class="salsa">
            <% if (ordine.salsa1) { %>
            <%= ordine.salsa1 %>
          <% } %>
          <% if (ordine.salsa2) { %>
            <%= ordine.salsa2 %>
          <% } %>
          <% if (ordine.salsa3) { %>
            <%= ordine.salsa3 %>
          <% } %>
          <% if (ordine.salsa4) { %>
            <%= ordine.salsa4 %>
          <% } %>
          </span>   
      </div>
      </div>
    </div>
  <% }) %>

</div>

<% include _footer %>
<meta http-equiv="refresh" content="15" >