<% include _header %>

<div class="page-header">
  <h1>Cucina</h1>
</div>

<div class="pull-right">
  <a href='/orders/undo' class="btn btn-raised btn-warning">
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> UNDO
  </a>
</div>
<br/>

<div class="row orders-block">
  <% orders.forEach((order)=>{ %>
  <div class="col-md-6">
    <% if(order.actualOrder.id % 2 != 0) { %>
      <div class="panel panel-primary">
    <% } %>
    <% if(order.actualOrder.id % 2 == 0) { %>
      <div class="panel panel-info">
    <% } %>
        <div class="panel-heading">
          <div class="pull-right">
            <a href='/orders/<%= order.uid %>/remove' class="btn-sm btn-raised btn-danger">
              <i class="icon-user icon-white"></i> COMPLETATO
            </a>
          </div>

          <div class="ora_ordinazione">
            <p>
              ORA ORDINAZIONE:
              <%=moment(order.createdAt).format('HH:mm')%>
            </p>
          </div>
          <div class="numero-ordine">
            <p>
              NUMERO ORDINE
              <% if(order.actualOrder.takeaway) { %>
                <span class="asporto">
                PER ASPORTO
              </span>
              <% } %>
              :
              <%= order.actualOrder.id %>
            </p>
          </div>
          <div class="text priorità">
            <p>
              <% if (order.priority) { %>
                ORDINE CON PRIORITÀ
                <span class="staff">
                  <% if (order.staff === true) { %>
                    PER STAFF
                  <% } %>
                </span>
              <% } %>
            </p>
          </div>

        </div>

        <div class="panel-body ingredienti">
          <span class="carne">
            <%=order.actualOrder.double%>
            <%= order.actualOrder.primary %>
          </span>
          <span class="verdura">
            <%if (Array.isArray(order.actualOrder.secondary)){ %>
              <% order.actualOrder.secondary.forEach((secondary)=>{ %>
                <%=secondary%>
              <% }) %>
            <%}else{%>
                <% order.actualOrder.secondary %>
            <%}%>
          </span>
          <span class="salsa">
            <%if (Array.isArray(order.actualOrder.sauces)){ %>
              <% order.actualOrder.sauces.forEach((sauce)=>{ %>
              <%=sauce%>
              <% }) %>
            <%}else{%>
              <% order.actualOrder.sauces %>
            <%}%>
          </span>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
  <% include _footer %>
  <meta http-equiv="refresh" content="15">