<% include _header %>

  <div class="page-header">
    <h1>Extra</h1>
  </div>

  <div class="numero-ordine">
    Anelli nei prossimi <%=nOrders%> ordini: <%=nRings%>
  </div>

  <div class="pull-right">
    <a href='/extra/undo' class="btn btn-raised btn-warning">
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> UNDO
    </a>
  </div>
  <br />

  <div class="row orders-block">
    <% orders.forEach((order)=>{ %>
      <div class="col-md-6">
        <% if(order.actualOrder.id % 2 !=0) { %>
          <div class="panel panel-primary">
            <% } else {%>
              <div class="panel panel-info">
                <% } %>
                  <div class="panel-heading">
                    <div class="pull-right">
                      <a href='/extra/<%= order.uid %>/completed' class="btn btn-raised btn-info">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        COMPLETATO
                      </a>
                    </div>

                    <div class="ora_ordinazione">
                      <p>
                        ordinato alle
                        <%=moment(order.createdAt).format('HH:mm')%>
                      </p>
                    </div>
                    <div class="numero-ordine">
                      <p>
                        ORDINE
                        <% if(order.actualOrder.takeaway) { %>
                          <span class="asporto">
                            ASPORTO
                          </span>
                          <% } %>
                            :
                            <%= order.actualOrder.id %>
                          <% if(order.actualOrder.Principale || order.actualOrder.Farcitura) { %>
                            <span class="asporto">
                              P
                            </span>
                          <% } %>
                      </p>
                    </div>
                    <div class="text priorità">
                      <p>
                        <% if (order.priority) { %>
                          PRIORITÀ
                          <% } %>
                            <span class="staff">
                              <% if (order.staff===true) { %>
                                PER STAFF
                                <% } %>
                            </span>
                      </p>
                    </div>
                    <div class="ora_ordinazione order_note">
                      <%=order.actualOrder.orderNote.toUpperCase()%>
                    </div>
                  </div>
                  <div class="panel-body ingredienti">
                    <%let i=0%>
                      <%order.actualOrder.extrasQuantities.forEach(extrasQuantity=>{%>
                        <%if (extrasQuantity !='' ){%>
                          <% if (i !=0){ %>
                            <br>
                            <%=extrasQuantity%>x
                              <%}else{%>
                                <%=extrasQuantity%>x
                                  <%}%>
                                    <span class="bevanda-bar">
                                      <%if (Array.isArray(order.actualOrder.extras)){ %>
                                        <%=JSON.parse(order.actualOrder.extras[i]).name%>
                                          <%}else{%>
                                            <%=JSON.parse(order.actualOrder.extras).name%>
                                              <%}%>
                                    </span>
                                    <%i++%>
                                      <%}%>
                                        <%})%>
                                          </span>
                  </div>
              </div>
          </div>
          <% }) %>
      </div>
      <% include _footer %>
        <meta http-equiv="refresh" content="15">