<% include _header %>
<h1><small class="text-muted">Report giornate</small></h1>
<div class="row">
  <div class="col-sm">
    <% burgerStats.forEach(function(dailyStats) { %>
		<h3> giorno <%= dailyStats.day.toLocaleDateString('it-IT') %> </h3>
	 	<h4> totale vendite panini: <%= dailyStats.total %>€ </h4>
 		<% }) %>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <% beveragesStats.forEach(function(dailyStats) { %>
		<h3> giorno <%= dailyStats.day.toLocaleDateString('it-IT') %> </h3>
	 	<h4> totale vendite bevande: <%= dailyStats.total %>€ </h4>
 		<% }) %>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <% extrasStats.forEach(function(dailyStats) { %>
		<h3> giorno <%= dailyStats.day.toLocaleDateString('it-IT') %> </h3>
	 	<h4> totale vendite extra: <%= dailyStats.total %>€ </h4>
 		<% }) %>
  </div>
</div>
<% include _footer %>